TinyWidnow/TinyWidnow/Debug/
TinyWindow/TinyWindow/TinyWindow/Debug/
TinyWindow/TinyWindow/TinyWindow/Release/TinyWindow.tlog/TinyWindow.lastbuildstate
TinyWindow/TinyWindow/TinyWindow/Release/TinyWindow.tlog/cl.command.1.tlog
TinyWindow/TinyWindow/TinyWindow/Release/TinyWindow.tlog/cl.read.1.tlog
TinyWindow/TinyWindow/TinyWindow/Release/TinyWindow.tlog/cl.write.1.tlog
TinyWindow/TinyWindow/TinyWindow/Release/TinyWindow.tlog/link.command.1.tlog
TinyWindow/TinyWindow/TinyWindow/Release/TinyWindow.tlog/link.read.1.tlog
TinyWindow/TinyWindow/TinyWindow/Release/TinyWindow.tlog/link.write.1.tlog
*.tlog
TinyWindow.sdf
TinyWindow.sln
TinyWindow/Debug/vc120.idb
TinyWindow/TinyWindow.vcxproj
TinyWindow/TinyWindow.vcxproj.filters
*.idb
*.vcxproj
*.filters
